.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container_fluid-home {
  /* border: 1px solid red; */
  width: 100%;

}


@media screen and (max-width:1726px) {
  .h1titlehome-style {
    font-size: 25px;
  }
}

.container_son {
  height: 720px;
}

.style_navbar {
  /* border: 1px solid purple; */
  height: 70px;
  display: flex;
}

.img_logo {
  width: 100px;
  height: 150px;

}

.h1titlehome-style {
  font-size: 35px;
}

.container_logo {
  width: 190px;
  height: 30px;
  margin: 20px;
}

.imglogo_width {
  width: 190px;
  height: 23px;
  border-style: none;
  cursor: pointer;
}

.imglogo_position {
  margin-top: 10px;
}

.container_navbar_buttons {
  /* border: 1px solid red; */
  width: 86%;
  height: 50px;
  margin: 10px;
}


.navbar_style {
  text-align: end;
}


.navbar_itens_style {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.navbar_itens_style_orange {
  padding: 10px;
  text-align: center;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.topimg_home-style {
  width: 100%;
  z-index: 1;
}

/* container.home_text */

.container.home_text {
  border: 1px solid yellow;
  width: 500px;
  height: 500px;
  margin-top: 500px;
}

.container_h1tittle {
  width: 70%;
  height: 180px;
  margin-left: 280px;
  margin-top: 180px;
  border: 1px solid rgb(255, 255, 255);


}

h1 {
  font-size: 40px;
}

strong {
  margin: 180px;
  margin-top: 50px;
  color: white;
}

.strongclass_txt {
  margin: 218px;
  margin-top: 20px;
}

.container_searchbar {
  /* border: 1px solid red; */
  width: 75%;
  height: 60px;
  margin-left: 230px;
  display: flex;
}

.inputtext_style {
  width: 30%;
  height: 32px;
  margin: 12px;
  margin-left: 390px;
  border: none;
  padding-left: 10px;
}

.buttonsearch_text {
  border: none;
  margin: 12px;
  width: 10%;
  height: 33px;
  background-color: orange;
  color: white;
  Font-weight: bold
}

.container_options {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;

}


.container_cadast-restaurants {
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
}





/* Container quantitativo de empresas cadastradas */

.container_cadastro-elements {
  display: flex;
  background-color: rgb(255, 123, 0);
  justify-content: center;
  align-items: center;

}


.cadast_itens_style {
  color: white;
  font-size: larger;
  Font-weight: bold;
  margin: 150px;
}

.container_howitworks {
  /* border: 1px solid red;  */
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.style_comofunciona {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #282c34;

}


.teste {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
}

.teste2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_blockhowitworks {
  display: flex;
  /* border: 1px solid red;  */
  position: relative;
  padding-left: 5%;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}

.tst {
  /* border: 1px solid red; */
  width: 20%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  margin-bottom: 10px;
  padding-left: 140px;
}

.span_circlue {
  border: 2px solid rgb(255, 136, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 55px;
  margin-left: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container_tittleimgs {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Imagem picanha */

.container_imgpicanha {
  /* border: 1px solid orange; */
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container_gridpicanha {
  /* border: 1px solid red; */
  width: 80%;
  height: 70%;
  margin: 120px;
  display: grid;
  justify-content: center;
  align-content: center;

}

.style_button-ordenaragora {
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 30px;
  background-color: rgb(255, 153, 0);
  color: white;
}

.teste2223 {
  /* border: 1px solid red; */
  margin: 10px;
  display: grid;
  justify-content: center;
  align-content: center;

}

/* Container destaques  */

.container_destaques {
  /* border: 1px solid red; */
  width: 100%;
  height: 810px;
}

.container_tittle-restaurantesemdestaque {
  /* border: 1px solid red; */
  width: 100%;
  height: 200px;
  margin: 6px;
  display: grid;
  align-content: center;
  justify-content: center;
}


.container_pai_restaurantedestaques {
  /* border: 1px solid red; */
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container_restaurants-destaques {
  /* border: 1px solid red; */
  width: 450px;
  height: 550px;
  margin-right: 50px;
}

.container_restaurants-destaques2 {
  /* border: 1px solid red; */
  width: 450px;
  height: 550px;

}

.container-son-destaque {
  /* border: 1px solid red; */
  margin: 2px;
  margin-top: 15px;
  height: 161px;

}

.container-in-destaque {
  margin: 5px;
  margin-top: 15px;
  width: 101%;
  padding: 15px;
  height: 150px;
  display: flex;
  background-color: rgb(252, 250, 250);
}

.minicontainers-destaques {
  margin: 9px;
  /* border: 1px solid red; */
  width: 185px;
}

.container-circle-destaqimg {
  border: 1px solid rgb(204, 201, 201);

}

.container-text-about-restaurantdestaque {
  /* border: 1px solid rgb(15, 245, 53); */
  width: 60%;
  display: grid;
  align-content: center;
  justify-content: center;

}

.container_estrelas-for-restaurants {
  display: flex;
  /* border: 1px solid red; */

}

.style-estrelaimg {
  width: 20px;
  height: 20px;

}


.style-heartfavorit {
  margin-left: 15px;
}

.style_smalltext {
  /* border: 1px solid red; */
  width: 250px;
  margin-bottom: 45px;
  margin-left: 10px;
}

.style-h4-destaq {
  margin-left: 10px;
}


.style-paragrafo-destaque {
  margin-left: 16px;
}

.container-favoritar-destaque {
  /* border: 1px solid pink; */
  width: 35px;
}


/* cabecalho de informações */


.container_cabecalho-informacoes {
  width: 100%;
  height: 380px;
  background-color: rgb(37, 37, 49);
  padding-bottom: 50px;
  /* border: 1px solid red; */
  justify-content: center;
  align-content: center;
}

.container_infor-text {
  /* border: 1px solid pink; */
  width: 80%;
  height: 300px;
  margin-left: 160px;
  display: flex;
  padding: 15px;

}

.container-menus-tela {
  /* border: 1px solid red; */
  width: 25%;

}

.tittle-menus {
  /* border: 1px solid red; */
  margin: 4px;
  height: 50px;
  justify-content: center;
  align-content: center;
  text-align: start;
  color: white;
}

.style-barra {
  border: 1px solid grey;
  margin-bottom: 5px;
  width: 85%;

}

.container_icons {
  /* border: 1px solid green; */
  display: flex;
  margin: 5px;
  margin-top: 25px;
  height: 50px;
}

.style-img-redesociais {
  width: 40px;
  height: 40px;
  padding-left: 15px;
}

.container-telefone {
  /* border: 1px solid pink; */
  height: 50px;
  margin: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  color: white;

}

.style-imgtelefone {
  /* border: 1px solid red; */
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.style-telefoneeemail {
  margin-left: 10px;
  margin-top: 5px;
}


.container-categoriasmenu-popular-cities {
  /* border: 1px solid red; */
  margin: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-top: 5px;
  height: 230px;
  display: grid;


}

.style-linksstyle {
  /* border: 1px solid red; */
  text-decoration: none;
  color: white;
  list-style: none;
  align-content: start;
  padding-left: 0px;
  cursor: pointer;

}

.container-copyright {

  width: 80%;
  height: 90px;
  display: flex;
  margin-left: 160px;
}










/*                                  login page                          */


/* header */



.container-login_text {
  /* border: 1px solid white; */
  width: 80%;
  height: 40%;
  margin-left: 180px;
  display: flex;
  justify-content: center;
  align-content: center;

}


.container_h1headerloginpage {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;

}


.container_son-login {
  height: 400px;
}


.container-principal-login-register {
  /* border: 1px solid red; */
  height: 470px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(236, 235, 235, 0.74);

}


.container-second-login-register {
  /* border: 1px solid black; */
  width: 50%;
  height: 370px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;

}

.container_input-login-register {
  border: 1px solid rgb(255, 255, 255);
  width: 60%;
  background-color: white;
}

.style-h2-loginpage {
  font-size: 30px;
  display: flex;
  justify-content: center;

}


.container-formulario-login {
  /* border: 1px solid red; */
  height: 190px;
  display: grid;
  padding: 15px;
}

.style-inputs-loginpage {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  height: 35px;
}

.style-input-loginpage-file {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  height: 35px;

}

.style-button-loginpage {
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 123, 0);
  font-size: 18px;
  color: white;
  height: 35px;
}

.container-nothaveaccount {
  margin-left: 15px;
  /* border: 1px solid red; */
  height: 35px;
  display: flex;
  justify-content: start;
}

.style-link-a {
  color: rgb(255, 123, 0);
  padding: 5px;
}



/* Pagina registrar usuario e empresas */


.container_input-restaurants-register {
  /* border: 1px solid rgb(228, 11, 11); */
  width: 95%;
  height: 500px;
  background-color: white;
}

.container-principal-restaurants-register {
  /* border: 1px solid red; */
  height: 570px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(236, 235, 235, 0.74);
}


.container-formulario-restaurants {
  width: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 300px;
  display: grid;
  padding: 15px;
}

.container-input-registerrestaurants {
  /* border: 1px solid rgb(0, 255, 0); */
  display: flex;
  height: 400px;
}

.style-container-termosecondicoes {
  display: flex;
  padding-bottom: 10px;

}






/* Pagina de pesquisar restaurants */


.style_input-pesquisarrestaurants {
  width: 500px;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding-left: 10px;

}

.style-img-pesquisarrestaurants {
  width: 20px;
  height: 20px;
  margin-top: 7px;


}

.container-imglupasearch {
  border: 1px solid red;
  width: 35px;
  height: 37px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.container_h1headerpesquisar-restaurants-page {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}



.container-principal-restaurants-search {
  /* border: 1px solid red; */
  height: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #d3d1d1bd;
}

.container-categorias-searchrestaurants {
  /* border: 1px solid rgb(0, 255, 34); */
  width: 30%;
  padding-left: 10px;
}

.container-restaurants-searchrestaurants {
  /* border: 1px solid rgb(0, 255, 34); */
  width: 20%;
}

.container-sortby-searchrestaurants {
  /* border: 1px solid rgb(0, 255, 34); */
  width: 20%;
  display: flex;
  justify-content: center;

}

.style-containercategorias {
  /* border: 1px solid red; */
  display: grid;
  justify-content: center;
  align-content: center;
}

.style-lista-restaurants {
  list-style: none;
  padding-left: 2px;
  padding-bottom: 5px;
}

.style-elements-input-restaurants {
  padding-bottom: 20px;
}

.container-sortby {
  /* border: 1px solid pink; */
  width: 250px;
  height: 150px;
  display: grid;
  margin-top: 100px;
  background-color: white;
  padding-left: 10px;
  padding-bottom: 15px;
}

.style-links-sortby {
  color: black;
  text-decoration: none;
  cursor: pointer;

}

.style-img-sortby {
  width: 15px;
  height: 15px;

}

a:hover {
  color: rgb(255, 102, 0);
}



/* Página MyFoods */


.container_fluid-pagmyfoods {
  /* border: 1px solid red; */
  width: 100%;
  background-repeat: no-repeat;

}

.container-principal-login-register-myfoods {
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(219, 218, 218, 0.664);
}

.container_cabecalho-informacoes-myfoods {
  width: 100%;
  height: 450px;
  background-color: rgb(37, 37, 49);
  padding-bottom: 100px;
  /* border: 1px solid red; */
  justify-content: center;
  align-content: center;
}


.container_son-myfoods {
  height: 350px;
}

.container_userprofile-myfoods {
  /* border: 1px solid red; */
  width: 50%;
  height: 60%;
  margin: 20px;
  display: flex;
}

.container_picture-father {
  /* border: 1px solid black; */
  width: 30%;
  margin-left: 30px;

}

.container_picture_son {
  border: 5px solid rgb(255, 255, 255);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 65px;
  margin-top: 30px;

}


.style-img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}



.container_username {
  width: 50%;
  /* border: 1px solid red; */
  display: grid;
  justify-content: start;
  align-content: center;
  padding-left: 5px;
  color: white;
}

.list-foods {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin: 20px;
  /* border: 1px solid black; */
  background-color: white;
}

.navbar_itens_style_onpages-logon {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}


.navbar_itens-style_logon-pages {
  margin-left: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.navbar_username-logon {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: rgb(255, 196, 0);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}




/* Página Meus pedidos */


.container-principal-meuspedidos {
  height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(219, 218, 218, 0.664);
}

.container_organizarpedidos {
  display: grid;
  align-content: center;
  justify-content: start;
  width: 50%;
  height: 85%;
  margin: 20px;
}

.container_options-meuspedidos {
  border: 1px solid red;
  margin: 40px;
  width: 99%;
  height: 50px;
  display: flex;
  background-color: none;
}

.container_result-options {
  /* border: 1px solid pink; */
  width: 99%;
  margin: 40px;
  width: 99%;
  height: 150px;
  display: flex;
  background-color: white;
}

.style-options-meuspedidos {
  padding: 80px;
  /* border: 1px solid yellow; */
  cursor: pointer;
  font-weight: bolder;

}

.style-imgs-meuspedidos {
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

lo:hover {
  color: rgb(255, 123, 0);
}

