.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container_fluid-home {
  /* border: 1px solid red; */
  width: 100%;

}

.container_son {
  height: 720px;
}

.style_navbar {
  /* border: 1px solid purple; */
  height: 70px;
  display: flex;
}

.img_logo {
  width: 100px;
  height: 150px;

}

.container_logo {
  width: 190px;
  height: 30px;
  margin: 20px;
}

.imglogo_width {
  width: 190px;
  height: 23px;
  border-style: none;
  cursor: pointer;
}

.imglogo_position {
  margin-top: 10px;
}

.container_navbar_buttons {
  /* border: 1px solid red; */
  width: 86%;
  height: 50px;
  margin: 10px;
}


.navbar_style {
  text-align: end;
}


.navbar_itens_style {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.navbar_itens_style_orange {
  padding: 10px;
  text-align: center;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.topimg_home-style {
  width: 100%;
  z-index: 1;
}

/* container.home_text */

.container.home_text {
  border: 1px solid yellow;
  width: 500px;
  height: 500px;
  margin-top: 500px;
}

.container_h1tittle {
  width: 70%;
  height: 180px;
  margin-left: 280px;
  margin-top: 180px;
  border: 1px solid rgb(255, 255, 255);


}

h1 {
  font-size: 40px;
}

strong {
  margin: 180px;
  margin-top: 50px;
  color: white;
}

.strongclass_txt {
  margin: 218px;
  margin-top: 20px;
}

.container_searchbar {
  /* border: 1px solid red; */
  width: 75%;
  height: 60px;
  margin-left: 230px;
  display: flex;
}

.inputtext_style {
  width: 30%;
  height: 32px;
  margin: 12px;
  margin-left: 390px;
  border: none;
  padding-left: 10px;
}

.buttonsearch_text {
  border: none;
  margin: 12px;
  width: 10%;
  height: 33px;
  background-color: orange;
  color: white;
  Font-weight: bold
}

.container_options {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;

}


.container_cadast-restaurants {
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
}





/* Container quantitativo de empresas cadastradas */

.container_cadastro-elements {
  display: flex;
  background-color: rgb(255, 123, 0);
  justify-content: center;
  align-items: center;

}


.cadast_itens_style {
  color: white;
  font-size: larger;
  Font-weight: bold;
  margin: 150px;
}

.container_howitworks {
  /* border: 1px solid red;  */
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.style_comofunciona {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #282c34;

}


.teste {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
}

.teste2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_blockhowitworks {
  display: flex;
  /* border: 1px solid red;  */
  position: relative;
  padding-left: 5%;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}

.tst {
  /* border: 1px solid red; */
  width: 20%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  margin-bottom: 10px;
  padding-left: 140px;
}

.span_circlue {
  border: 2px solid rgb(255, 136, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 55px;
  margin-left: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container_tittleimgs {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Imagem picanha */

.container_imgpicanha {
  /* border: 1px solid orange; */
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container_gridpicanha {
  /* border: 1px solid red; */
  width: 80%;
  height: 70%;
  margin: 120px;
  display: grid;
  justify-content: center;
  align-content: center;

}

.style_button-ordenaragora {
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 30px;
  background-color: rgb(255, 153, 0);
  color: white;
}

.teste2223 {
  /* border: 1px solid red; */
  margin: 10px;
  display: grid;
  justify-content: center;
  align-content: center;

}

/* Container destaques  */

.container_destaques {
  border: 1px solid red;
  width: 100%;
  height: 700px;
}

.container_tittle-restaurantesemdestaque {
  border: 1px solid red;
  width: 100%;
  height: 200px;
  margin: 6px;
  display: grid;
  align-content: center;
  justify-content: center;
}
.container_restaurants-destaques {
  border: 1px solid red;
  width: 80%;
  height: 480px;
  margin-left: 480px;
}

.minicontainers-destaques {
  width: 5;
}

.style-paragrafo-destaque {
  margin-left: 16px;
}